.screen {
  background-color: var(--bg_color);
  color: var(--txt_color);
  padding: 50px 100px 100px 100px;
  > h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--hover_color);
  }
  .title {
    font-weight: 700;
    font-size: 40px;
  }
  .lecture_body {
    margin-top: 35px;
    .speaker {
      font-weight: 400;
      font-size: 16px;
      color: var(--txt_secondary_color);
      margin-bottom: 5px;
    }
    > h4 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      > strong {
        color: var(--hover_color);
      }
    }
  }
}
