.screen {
  background-color: var(--bg_color);
  color: var(--txt_color);
  padding: 50px 100px 100px 100px;
  > h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 24px;
    font-weight: 400;
    color: var(--hover_color);
  }
  .title {
    font-weight: 700;
    font-size: 40px;
  }
  .lecture_body {
    margin: 0px 35px;
    .speaker {
      font-weight: 400;
      font-size: 16px;
      color: var(--txt_secondary_color);
      margin-bottom: 5px;
    }
    > h4 {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      > strong {
        color: var(--hover_color);
      }
    }
    > h4:last-child {
      margin: 0;
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 850px) {
  .screen {
    padding: 25px 50px;
    > h1 {
      font-size: 35px;
      margin-bottom: 30px;
    }
    .subtitle {
      font-size: 18px;
    }
    .title {
      font-size: 24px;
    }
    .lecture_body {
      margin: 0 25px;
      .speaker {
        font-size: 14px;
      }
      > h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      > h4:last-child {
        margin: 0;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 600px) {
  .screen {
    padding: 20px;
    > h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }
    .subtitle {
      font-size: 14px;
    }
    .title {
      font-size: 18px;
    }
    .lecture_body {
      margin: 0 15px;
      .speaker {
        font-size: 14px;
      }
      > h4 {
        font-size: 10px;
        margin-bottom: 0px;
      }
      > h4:last-child {
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }
}
