.collapse {
  position: relative;
  padding: 30px 35px;
  border: 1px solid #767675;
  margin-bottom: 20px;
  z-index: 100;
  background-color: transparent;
  .label {
    z-index: 100;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    user-select: none;
    color: var(--txt_color);
    .closeIcon {
      position: absolute;
      z-index: 100;
      top: 30px;
      right: 45px;
      width: 30px;
      height: 30px;
      transition: all 0.3s ease-in-out;
      transform-origin: 15px 15px;
      color: var(--txt_color);
      //   background-color: red;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        transform: rotate(90deg);
      }
    }
    &:hover .closeIcon {
      color: var(--hover_color);
    }
    .activeIcon {
      transform: rotate(-45deg);
    }
  }

  .content {
    position: relative;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .active {
    height: 160px;
  }

  .type_1 {
    width: 390px;
    height: 390px;
    border-radius: 50%;
    background: radial-gradient(
      50% 100% at 50% 100%,
      rgba(140, 44, 255, 0) 34.5%,
      rgba(140, 44, 255, 0.4) 100%
    );
  }
}
.bg_container {
  position: relative;
  .container {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    height: 134px;
    z-index: 0;
    background-color: var(--bg_color);
    .type_1 {
      width: 390px;
      height: 390px;
      border-radius: 50%;
      background: radial-gradient(
        50% 100% at 50% 90%,
        rgba(140, 44, 255, 0) 60%,
        rgba(140, 44, 255, 0.4) 100%
      );
    }
    .type_2 {
      display: flex;
      align-items: center;
      .type_2_1 {
        height: 100%;
        width: 132px;
        overflow: hidden;
        > div {
          width: 265px;
          height: 265px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 40% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
    }
    .type_3 {
      position: relative;
      width: 390px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .type_3_1 {
        height: 100%;
        width: 131px;
        overflow: hidden;
        > div {
          width: 265px;
          height: 265px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 40% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
      .type_3_3 {
        height: 100%;
        width: 131px;
        overflow: hidden;

        // position: relative;
        > div {
          width: 264px;
          position: relative;
          left: -100%;
          height: 264px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 50% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
      .type_3_2 {
        width: 183px;
        height: 92px;
        overflow: hidden;
        position: absolute;
        top: 40px;
        left: 100px;
        > div {
          width: 183px;
          height: 183px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 50% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
    }

    .type_4 {
      display: flex;
      align-items: center;
      .type_4_1 {
        width: 261px;
        height: 261px;
        border-radius: 50%;
        background: radial-gradient(
          50% 100% at 50% 100%,
          rgba(140, 44, 255, 0) 60%,
          rgba(140, 44, 255, 0.4) 100%
        );
      }
      .type_4_2 {
        height: 100%;
        width: 131px;
        overflow: hidden;
        > div {
          width: 265px;
          height: 265px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 40% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
    }
    .type_5 {
      position: relative;
      width: 390px;
      height: 100%;
      .type_5_1 {
        width: 261px;
        height: 261px;
        border-radius: 50%;
        background: radial-gradient(
          50% 100% at 50% 100%,
          rgba(140, 44, 255, 0) 60%,
          rgba(140, 44, 255, 0.4) 100%
        );
      }
      .type_5_2 {
        position: absolute;
        top: 0px;
        left: 131px;
        width: 261px;
        height: 261px;
        border-radius: 50%;
        background: radial-gradient(
          50% 100% at 50% 100%,
          rgba(140, 44, 255, 0) 60%,
          rgba(140, 44, 255, 0.4) 100%
        );
      }
    }
    .type_6 {
      display: flex;
      align-items: center;
      .type_6_1 {
        height: 100%;
        width: 195px;
        overflow: hidden;
        > div {
          width: 390px;
          left: -100%;
          height: 390px;
          border-radius: 50%;
          position: relative;
          background: radial-gradient(
            50% 100% at 55% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
      .type_6_2 {
        height: 100%;
        width: 195px;
        overflow: hidden;
        > div {
          width: 390px;
          height: 390px;
          border-radius: 50%;
          background: radial-gradient(
            50% 100% at 55% 100%,
            rgba(140, 44, 255, 0) 60%,
            rgba(140, 44, 255, 0.4) 100%
          );
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .collapse {
    padding: 20px 25px;
    .label {
      .closeIcon {
        width: 20px;
        height: 20px;
        transform-origin: 10px 10px;
        top: 20px;
        right: 25px;
        &::after,
        &::before {
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .collapse {
    padding: 15px;
    .label {
      .closeIcon {
        width: 15px;
        height: 15px;
        transform-origin: 7px 7px;
        top: 15px;
        right: 18px;
        &::after,
        &::before {
          width: 15px;
        }
      }
    }
  }
}
