:root {
  --bg_color: rgba(0, 0, 0, 1);
  --txt_color: rgba(255, 255, 255, 1);
  --txt_secondary_color: rgba(104, 104, 104, 1);
  --hover_color: rgba(176, 109, 255, 1);
  --shadow_color: rgba(99, 31, 185, 1);
}
