.navBar {
  display: flex;
  align-items: center;
  color: var(--txt_color);
  font-size: 14px;
  font-weight: 400;
  .link {
    opacity: 0.4;
    padding: 5px 10px;
    transition: all 0.3s ease-in;
    &:hover {
      color: var(--hover_color);
      opacity: 1;
      fill: var(--hover_color);
    }
  }
  .link_tg {
    opacity: 0.4;
    margin-left: 5px;
    box-sizing: border-box;
    border: 1px solid var(--txt_color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    color: var(--txt_color);
    height: 30px;
    transition: all 0.3s ease-in;
    &:hover {
      border: 1px solid var(--hover_color);
      opacity: 1;
      color: var(--hover_color);
    }
  }
}

@media (max-width: 650px) {
  .navBar {
    margin-top: 10px;
    .link:first-child {
      padding: 5px 10px 5px 0px;
    }
  }
}
